@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

.swiper-pagination{
  position: absolute !important;
  top: 7% !important;
  right: 3% !important;
  text-align: right !important;
  padding-right: 45px !important;
}

.swiper-button-next{
  display: none !important;
}

.swiper-button-prev{
  display: none !important;
}

.clientMain {
  background: radial-gradient(circle, rgba(6,17,45,1) 42%, rgba(14,33,79,1) 99%, rgba(0,0,0,1) 100%);

}

.pic-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.image_wrapper{
  padding: 8px 60px;
}

.test_main{
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
}

.slick-arrow{
  color:  white !important;
  border: 1px solid black !important;
  border-radius: 100px;
  padding: 20px !important;
  background-color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-prev::before{
  content: url("./../../public/Icongt.png");
  color: black !important;
  background-color: transparent !important;
  font-size: 24px !important;
  font-family: none !important;
  /* font-weight: bold !important; */
  opacity: none !important;
  font-weight: 900 !important;
}

.slick-prev{
  left: 0px !important;
  z-index: 10 !important;
}

.slick-next {
  right: 0px !important;
}

.slick-next:before{
  content: url("./../../public/Icongt.png");
  color: black !important;
  background-color: transparent !important;
  font-size: 24px !important;
  font-family: none !important;
  /* font-weight: bold !important; */
  opacity: none !important;
  font-weight: 900 !important;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
